<!DOCTYPE html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <link rel="stylesheet" type="text/css" href="{@G:url.extres}/feedback/css/bootstrap.css">
</head>

<body>
    <template source='TPL:common.header' load='true' />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread_crumb">
                    <a href="{@url:}" class="home" title="{@C:site.info.name}">首页</a><em>&gt;</em><a href="{@url:app/feedback/index/run}">客户留言</a>
                </div>
            </div>
            <div class="col-12" style=" margin-top: 20px;">
                <form id="J_feedback_add_form" action="{@url:app/feedback/index/doadd}" method="post">
                    <input type="text" name="name" id="J_feedback_add_namme" class="input mb-small" placeholder="留言标题">
                    <input type="text" name="usertel"  class="input mb-small" placeholder="您的电话">
                    <textarea name="content" id="J_feedback_add_content" class="textarea mb-small" placeholder="反馈意见"></textarea>
                    <button type="submit" id="J_feedback_add_button" class="btn btn-primary">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        Wind.use('jquery', 'global', 'ajaxForm', function() {
            $('#J_feedback_add_form').on('click', '#J_feedback_add_button', function(e) {
                e.preventDefault();

                var _name = $('#J_feedback_add_namme').val().replace(/\s*/g, ''),
                    _content = $('#J_feedback_add_content').val().replace(/\s*/g, '');

                if (_name === '' || _content === '') {
                    Wind.Util.resultTip({
                        error : true,
                        msg : '留言标题或者反馈内容不能为空',
                        follow : $('#J_feedback_add_button')
                    });
                    return false;
                }

                $('#J_feedback_add_form').ajaxSubmit({
                    'dataType': 'json',
                    'success': function(data) {
                        if (data.state == 'success') {
                            var $this = $('#J_feedback_add_button');
                            Wind.Util.ajaxBtnDisable($this);
                            Wind.Util.formBtnTips({
                                error: false,
                                wrap: $('#J_feedback_add_button').parent(),
                                msg: '提交成功，3秒后自动跳转'
                            });
                            setTimeout(function() {
                                // Wind.Util.ajaxBtnEnable($this);
                                window.location.href = window.location.href;
                            }, 3000);
                        } else if (data.state == 'fail') {
                            Wind.Util.resultTip({
                                error: true,
                                msg: data.message,
                                follow: $('#J_feedback_add_button')
                            });
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>
