<div class="search_type_wrap">
	<div class="search_type">
		<div class="fr gray" style="margin:40px 5px 0 0;"></div>
		<ul>
			<li class="{@Pw::isCurrent('run' == $src)}"><a href="{@url:app/search/index/run}">帖子</a></li>
			<li class="{@Pw::isCurrent('user' == $src || 'searchuser' == $src)}"><a href="{@url:app/search/index/user}">用户</a></li>
			<li class="{@Pw::isCurrent('forum' == $src || 'searchforum' == $src)}"><a href="{@url:app/search/index/forum}">版块</a></li>
		</ul>
		<div class="">
			<form action="{@url:app/search/index/search$src}" method="post">
			<input class="input" type="text" name="keywords">
			<button type="submit" class="btn btn_big btn_submit">搜 索</button>
			</form>
		</div>
	</div>
</div>
